.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4f46e5;
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #fde047;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.main-page-logo {
    color: yellow;
}

.navbar-brand i {
    margin-right: 0.5rem;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #fde047;
}